# Created by https://www.toptal.com/developers/gitignore/api/GitIgnoreCredentioanForTest.swift
# Edit at https://www.toptal.com/developers/gitignore?templates=GitIgnoreCredentioanForTest.swift

#!! ERROR: gitignorecredentioanfortest.swift is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/GitIgnoreCredentioanForTest.swift
